.contenido {
    background-color:#424549;
    margin: 5%;
    padding: 3%;
    border-radius: 2em;
    display: flex;
    align-items: center;
}
.imagen-presentacion {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
