.about-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
        flex-direction: row;
    }
}

.about-text {

    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin: 1rem;
    background-color: black;
    padding: 3%;
    border-radius: 2em;

    @media (min-width: 800px) {
        width: 60%;
    }
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 2em;
    background-color: black;
    width: 90%;

}
.about-embed {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    height: auto; /* Esto permite que la altura se ajuste automáticamente en función del ancho */
    max-width: 100%; /* Asegura que el ancho no exceda el contenedor */
}

@media (min-width: 800px) {
    .about-embed {
        width: 80vw; /* Ajusta el ancho según tus necesidades en pantallas grandes */
    }
}

.batman-gif {
    width: 50%;
    display: block;
    margin: 0 auto;
}

