.video {
    margin-top: 12%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    /* Se empieza a poner un filter: blur(5px); para que después de 3 segundos se vaya aclarando */
    animation: fadeIn; /* Cambio aquí, agregando el tiempo de retraso y el estado final del blur */
    animation-duration: 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        
    }
}
.background{
    background: rgb(0, 0, 0);
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58%, rgb(0, 0, 0) 100%);
}
.content-about{
    z-index: 10;
}